<label for="select-device">Selecionar câmera:</label>
<select id="select-device"
        autofocus
        tabindex="1"
        name="Selecionar câmera"
        #selectDevice
        (change)="action.playDevice(selectDevice.value)">
  <option *ngFor="let device of action.devices.value; let i = index"
          [value]="device.deviceId">{{device.label}}</option>
</select>
<ngx-scanner-qrcode #action="scanner"
                    (event)="onDetectQRCodeEvent($event, action)"></ngx-scanner-qrcode>
